body{
	font-family: arial, sans-serif;
	color: limegreen;
	background-color: white;
	margin: auto;
	width: 80%;
	padding: 15px;
	
}

.errorLog{
	position: sticky;
	background-color: crimson;
	color:black;
	margin: 10px;
	padding: 8px;
	border-radius: 10px;
}